doctype 5
html
	head
	
	link(href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css", rel="stylesheet", type="text/css")
	link(href="css/layout.css", rel="stylesheet", type="text/css")
	link(href="css/login.css", rel="stylesheet", type="text/css")

	script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
	script(src='/socket.io/socket.io.js')
	script(src='js/ioConnect.js')
	script(src='js/ChartCanvas/ChartCanvas.js')
	script(src='js/ChartCanvas/types/ChartCanvas_axes.js')
	script(src='js/ChartCanvas/types/ChartCanvas_pie.js')
	script(src='js/ClientDataHandler/symfony2.js')
	script(src='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js')
	
	body
		#container
			block content